<div class="card mx-auto text-center border-light">
  <img alt="" class="card-img-top"
       height=550
       src="assets/images/undraw_folder_files_re_2cbm.svg">
  <div class="card-body">
    <h5 class="card-title">
      Angular Projects
    </h5>
    <p class="card-text">
      A personal blog created with the Angular framework and the Scully static site
      generator
    </p>
    <a class="card-link" href="https://angular.io/" target="_blank">Angular</a>
    <a class="card-link" href="https://scully.io/" target="_blank">Scully</a>
  </div>
</div>
